<i class="align-allevent">
<h2 class="eventtitle">THE COOLEST EVENTS IN THE CITY &#127798</h2>
<div class="btnevent">
<a class="btnadd2" href="/events/add-event"><button>Add a new event</button></a>
</i>
{{#each events}}
<div class="eventalign">
  <img class="imgevent" src="{{this.imgPath}}">
  <p class="nombreevento">{{this.name}} <a href="/events/event-details/{{this._id}}"></i>Event details</a></p>
  <p class="nombreevento">{{this.date}} </p>
  <p class="nombreevento">{{this.location}} </p>
    {{else}}
    <p>There are no events yet! :(</p>
</div>
{{/each}}