
<h2>THE COOLEST EVENTS IN THE CITY &#127798</h2>

<a href="/events/add-event"><button>Add a new event</button></a>

<a href="/events/edit-event"><button>Edit your event</button></a>

{{#each events}}
  <p><img src="{{this.imgPath}}"></p>
  <p>{{this.name}} </p>
  <p>{{this.date}} </p>
  <p>{{this.location}} </p>
  <a href="/events/event-details/{{this._id}}"></i>Details</a>
    {{else}}
    <p>There are no events yet! :(</p>
{{/each}}