<i class="align-allevent">
<h2 class="eventtitle">EDIT YOUR EVENT &#128394</h2>
</i>

<section class="align-event-edit">
<form class="editform1" action="/events/edit?event_id={{event._id}}" method="post">

  <label for="name">Event name</label>
  <input type="text" name="name" value="{{event.name}}" placeholder="The event name goes here" />
</br><br>
  <label for="date">Event date</label>
  <input type="date" name="date" value="{{event.date}}"  required/>
</br><br>
  <label for="location">Location</label>
  <input type="text" name="location" value="{{event.location}}" />
</br><br>
  <label for="description">Description</label>
  <input type="text" name="description" value="{{event.description}}" />
</br><br>
  <label for="photo">Edit picture</label>
  <input type="file" name="photo" value="{{event.imgPath}}" />
</br>
{{!-- <div class="btn-edit-event"> --}}
  <button class="btneditevent1 futurist-button" type="submit">EDIT</button>
</form>
<form action="/events/delete?event_id={{event._id}}" method="post"><button class="btn-delete futurist-button" type="submit">Delete event</button></form>
{{!-- </div> --}}
</section>