Edit event


<form action="/events/edit?event_id={{events._id}}" method="post">

  <label for="name">Event name</label>
  <input type="text" name="name" value="{{events.name}}" placeholder="The event name goes here" />

  <label for="date">Event date</label>
  <input type="date" name="date" value="{{events.date}}"/>

    <label for="location">Location</label>
  <input type="text" name="location" value="{{events.location}}" />

  <label for="description">Description</label>
  <input type="text" name="description" value="{{events.description}}" />

  <label for="photo">Attach a nice picture ;)</label>
  <input type="file" name="photo" value="{{event.photo}}" />

  <button type="submit">EDIT</button>
</form>