{{!-- {{event.length}} participants --}}
<div class="align-event-details">
    {{#each event}}
    <div class="eventalign" id="event-details">
        <img class="img-eventdetails" src="{{this.imgPath}}">
        <p>{{this.name}} </p>
        <p>{{this.date}} </p>
        <p>{{this.location}} </p>
        <p>{{this.description}} </p>
       </div>
    {{else}}
        <p>There are no details yet! :(</p>
    {{/each}}
    
    <i class="details-button">
    <a class="attend-btn" href="/attend-event/{{event._id}}">Attend event</a>
    <a class="edit-event-btn" href="/events/edit?event_id={{event._id}}">Edit event</a>
   </i>
    </div>
    
   <input type="checkbox" id="switch" name="switch">
  <label for="switch" class="switch"></label>
</div>