{{!-- {{event.length}} participants --}}
<div class="align-event-details">
    <h2>Event details</h2>
    {{#if event}}
    <div class="eventalign" id="event-details">
        <img class="img-eventdetails" src="{{event.imgPath}}">
        <p>{{event.name}} </p>
        <p>{{event.date}} </p>
        <p>{{event.location}} </p>
        <p>{{event.description}} </p>
       </div>
    {{else}}
        <p>There are no details yet! :(</p>
    {{/if}}
    
    <i class="details-button">
    <a class="edit-event-btn" href="/attend-event/{{event._id}}"><button>Attend event</button></a>
    <a class="edit-event-btn" href="/events/editPhoto?event_id={{event._id}}"><button>Edit Image</button></a>
    <a class="edit-event-btn" href="/events/edit?event_id={{event._id}}"><button>Edit event</button></a>
   </i>
    </div>
    
   <input type="checkbox" id="switch" name="switch">
  <label for="switch" class="switch"></label>
  <h1 class="btn-light-desc">Click on the button! And add this event to your favorites</h1>
  
</div>