{{!-- {{event.length}} participants --}}
<div class="align-event-details">
    {{#each event}}
    <div class="eventalign" id="event-details">
        <img class="img-eventdetails" src="{{this.imgPath}}">
        <p>{{this.name}} </p>
        <p>{{this.date}} </p>
        <p>{{this.location}} </p>
        <p>{{this.description}} </p>
       </div>
    {{else}}
        <p>There are no details yet! :(</p>
    {{/each}}
    {{#each event}}
    <i class="details-button">
    <a href="/attend-event/{{this._id}}">Attend event</a>
    <a href="/events/edit?event_id={{this._id}}">Edit event</a>
   </i>
    </div>
    {{/each}}
</div>