{{#if event}}
    <div class="eventalign" id="event-details">
        <img class="img-eventdetails" src="{{event.imgPath}}">
        <p>{{event.name}} </p>
        <p>{{event.date}} </p>
        <p>{{event.location}} </p>
        <p>{{event.description}} </p>
       </div>
    {{else}}
        <p>There are no details yet! :(</p>
    {{/if}}