{{!-- <p>I&lt3HACK</p> --}}

{{!-- esto es para que salga info según si estás logueado o no --}}

{{#if isUserLoggedIn}}
  <p class="greeting"> Hello, {{ currentUserInfo.fullname }}, ready to look for your heart hacker? </p>
{{/if}}
{{#if isUserLoggedIn}}
<div class="profile-align">
  <img class="profileimg" src="{{currentUserInfo.imgPath}}">
  <p class="fullname">{{ currentUserInfo.fullname}}. </p>
  <p class="descripcion">About you:{{ currentUserInfo.description}}. </p>
</div>
{{/if}}

<a href="/user/edit?user_id={{currentUserInfo._id}}"><button>Edit profile</button></a>

<div class="btnmatch">
<a class="btnprofile" href="/fav-events"><button>FAV events &#127775</button></a>

<a class="btnprofile" href="/matches"><button>Matches &#127777</button></a>

</div>