<div class="all-profile-align">
{{#if isUserLoggedIn}}
<div class="profile-align">
  <img class="profileimg" src="{{user.imgPath}}">
  <i class="align-edite-image">
    <a class="edit-btn-myprofile" href="/user/editPhoto?user_id={{user._id}}">Edit image</a>
    <a class="edit-profile" href="/user/edit?user_id={{user._id}}">Edit info</a>
  </i>
  <p class="greeting"> Hello, {{ user.fullname }}, ready for looking for your heart hacker? </p>
  <p class="description">About you: {{ user.description}}. </p>
</div>
{{/if}}

<div class="btnmatch">
  <a class="btnprofile" href="/fav-events"><button class="futurist-button">FAV events</button></a>
  <a class="btnprofile" href="/user/matches?user_id={{currentUserInfo._id}}"><button class="futurist-button">Matches</button></a>
</div>
</div>