<p>FAVevents OK</p>
<section class="event-fav-add">
<i class="align-allevent">
<h2 class="eventtitle">MY fav events</h2>
<div class="btnevent">
</i>
{{#each events}}
<div class="eventalign">
  <img class="imgevent" src="{{this.imgPath}}">
  <p class="nombreevento">{{this.name}}</p>
  <p class="nombreevento">{{this.date}} </p>
  <p class="nombreevento">{{this.location}} </p>
    {{else}}
    <p>There are no events yet! :(</p>
</div>
{{/each}}
</section>